.SectionFascility {
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
  text-align: center;
  padding: 1em;
}
.RowFacility {
  margin: auto;
  padding-top: 1em;
  justify-content: center;
  text-align: center;
}

.SectionFascility .TitleFacility {
  color: #030101;
  text-align: center;
  font-style: normal;
  margin: auto;
}
.SectionFascility h2 {
  font-family: "Schibsted Grotesk", serif;
}
.ImgFacility {
  width: 100%;
  height: 25em;
  object-fit: cover;
  border-radius: 5px;
}
.captionFacility {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(10, 10, 11, 0.5);
}
@media (max-width: 750px) {
  .SectionFascility .TitleFacility {
    width: 72%;
  }
}
