* {
  font-family: "poppins", sans-serif;
}

.ImgTeams,
.ImgTeams1,
.ImgTeams2,
.ImgTeams3 {
  object-fit: cover;
  width: 100%;
  height: 105vh;
}
.HeroWelcome {
  color: #0d2d1b;
  font-style: italic;
}
.SectionHero {
  margin: 2em;
}
.Brand {
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  color: #0d2d1b;
}

.Hero h2 span {
  color: #d8101d;
  /* font-size: 2.5vh; */
}
.Hero p {
  margin-top: 1rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(133, 133, 146, 0.5);
  color: #0d2d1b;
}
.cta {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-shadow: 1px 1px 3px rgba(176, 176, 210, 0.5);
  font-size: 1.2rem;
  color: #0d2d1b;
  border: 1px solid #d8101d;
  background-image: #c3b6b6;
  border-radius: 0.5rem;
  box-shadow: 4px 5px #e15e67;
  text-decoration: none;
}
.ImgWa {
  width: 34px;
  border-radius: 10rem;
  margin-right: 0.5em;
}

.DescHero {
  transform: translateY(50px);
  filter: blur(50px);
  opacity: 0;

  animation: showTextHero 0.5s 0.5s linear 1 forwards;
}

@keyframes showTextHero {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
/* mode mobile */
@media (max-width: 750px) {
  .Hero {
    width: auto;
  }
  .Hero h2 span {
    /* color: #d8101d; */
    font-size: 2.5vh;
  }

  .ImgTeams,
  .ImgTeams1,
  .ImgTeams2,
  .ImgTeams3 {
    object-fit: cover;
    height: 30%;
    width: 100%;
  }
}
