.SectionContact {
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
  text-align: center;
  padding: 1.5em;
}
.SectionContact h3 {
  padding: 10px;
  text-shadow: 1px 1px 3px rgba(176, 176, 210, 0.5);
  color: #cb2b2e;
}
.RowContact {
  margin-top: 2em;
  border-radius: 2em;
  padding: 1em;
  background-image: linear-gradient(rgb(240, 244, 247), #fff);
  border: 0.9px solid #cb2b2e;
}
.ColContact {
  height: 50vh;
  border-radius: 2em;
  padding: 3em;
  width: 26em;
  border: 0.9px solid #cb2b2e;
  background-color: #fff;
  margin: auto;
  text-align: start;
}
.imgIconContact {
  width: 30px;
  margin: 3px;
}

@media (max-width: 750px) {
  .ColContact {
    height: 30%;
    width: 100%;
    margin-top: 2em;
  }
  .imgIconContact {
    width: 20px;
  }
}
