.HeroSulamAlis {
  background-image: url("../../assets/images/Services/BannerSulamAlis.webp");
  height: 43em;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 750px) {
  .HeroSulamAlis {
    height: 17em;
  }
}
