p {
  font-family: "poppins", sans-serif;
}
.SectionBrand {
  background-color: rgb(242 242 242 /1);
  font-family: sans;
  padding: 5px;
  border-radius: 10px;
}

.SectionHeroHome .Brand span {
  color: #d51229;
  font-family: "Schibsted Grotesk", serif;
}

.CarouselImg .Caption0,
.Caption1 {
  background: rgba(243, 243, 244, 0.5);
  font-family: sans !important;
  color: #000000;
  text-shadow: 4px 4px 2px rgba(210, 201, 201, 0.6);
  padding: 0.1em;
  top: -4em;
  margin: 2em;
}

.CarouselImg .Caption0 {
  width: 35%;
  left: -2em;
}
.CarouselImg .Caption1 {
  width: 60%;
}

.CarouselImg .Caption2 {
  /* padding: 0.5em; */
  background: rgba(243, 243, 244, 0.5);
  color: #000000;
}

.CarouselImg .Caption0,
.Caption1 {
  position: relative;
  transform: skew(20deg);
}
.CarouselImg .CaptionText0,
.CaptionText1 {
  transform: skew(-20deg);
}
.CarouselImg .Caption2 {
  text-align: end;
  width: 91.5%;
  left: -13em;
  position: relative;
  transform: skew(20deg);
}
.CarouselImg .CaptionText2 {
  margin: auto;
  transform: skew(-20deg);
  font-size: 1.2em;
}

.SectionBrand {
  margin: 1em;
}
.Brand {
  text-shadow: 1px 1px 3px rgba(129, 129, 136, 0.5);
  line-height: 1.2;
  color: #000000;
  font-family: "Schibsted Grotesk", serif;
  font-size: 2em;
}

.CarouselImg .Caption-AnimationHero0 {
  filter: blur(50px);
  right: -100em;
  opacity: 0;
  font-size: 1.5rem;
  animation: showCaptionAnimations 0.5s 0.5s linear 1 forwards;
}
.CarouselImg .Caption-AnimationHero1 {
  filter: blur(50px);
  right: -100em;
  opacity: 0;
  font-size: 1.5rem;
  animation: showCaptionAnimations1 0.5s 1s linear 1 forwards;
}
.CarouselImg .Caption-AnimationHero2 {
  filter: blur(50px);
  bottom: -100em;
  opacity: 0;
  font-size: 1.5rem;
  animation: showCaptionAnimations2 0.5s 1.3s linear 1 forwards;
}
.SectionBrand .DescBrand {
  transform: translateY(50px);
  filter: blur(50px);
  opacity: 0;
  font-size: 1.3em;
  animation: showTextBrand 0.5s 0.5s linear 1 forwards;
}

.ImgBannerHome {
  object-fit: cover;
  width: 40%;
  left: 60%;
  position: relative;
}
.BannerHome1 {
  text-align: center;
}
.ImgBannerHome1 {
  object-fit: cover;
  width: 100%;
  height: 29em;
}
.CaptionHomeText0,
.CaptionHomeText1,
.CaptionHomeText2 {
  color: #000000;
  font-family: sans;
}
.CaptionHomeText0 {
  transform: skew(-20deg);
  padding: 2px;
}
.CaptionHomeText1 {
  transform: skew(-20deg);
}
.CaptionHomeText2 {
  font-size: 1.2em;
  transform: skew(-20deg);
}
.CaptionHome0 {
  transform: skew(20deg);
  top: -7em;
  width: 50%;
  left: -5em;
  position: relative;
  background: rgba(243, 243, 244, 0.5);
}

.CaptionHome1 {
  transform: skew(20deg);
  background: rgba(243, 243, 244, 0.5);
  top: -5em;
  width: 70%;
  position: relative;
  left: -2em;
}
.CaptionHome2 {
  text-align: end;
  width: 91.5%;
  left: -13em;
  position: relative;
  transform: skew(20deg);
  background: rgba(243, 243, 244, 0.5);
}
@keyframes showCaptionAnimations {
  to {
    transform: skew(20deg);
    filter: blur(0);
    right: 0;
    opacity: 1;
  }
}
@keyframes showCaptionAnimations1 {
  to {
    transform: skew(20deg);
    filter: blur(0);
    right: 0;
    opacity: 1;
  }
}
@keyframes showCaptionAnimations2 {
  to {
    transform: skew(20deg);
    filter: blur(0);
    bottom: 0;
    opacity: 1;
  }
}
@keyframes showTextBrand {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* mode mobile */
@media (max-width: 750px) {
  .SectionBrand .DescBrand {
    font-size: 1.2em;
  }

  .CarouselImg {
    overflow: hidden;
    height: auto; /* Menggunakan height auto untuk menyesuaikan dengan konten */
  }

  .CarouselImg .Caption0 {
    width: 55%;
    top: -6em;
    left: -4em;
    /* margin: 1em; */
    padding: 4px;
  }

  .CarouselImg .Caption1 {
    /* margin: 1em; */
    top: -13em;
    width: 80%;
    left: -4em;
    font-size: 70%;
    padding: 2px;
    margin: auto;
  }

  .CarouselImg .Caption2 {
    top: -0.5em;
    width: 120%;
    left: -5em;
  }

  .CarouselImg .CaptionText0 {
    font-size: 85%;
  }

  .CarouselImg .CaptionText2 {
    font-size: 80%;
  }

  .SectionHeroHome {
    width: auto;
  }

  .SectionHeroHome .Brand span {
    font-size: 100%;
  }

  .ImgBannerHome {
    object-fit: cover;
    left: 0;
    width: 100%; /* Menggunakan width 100% untuk menyesuaikan dengan layar */
    height: auto; /* Menggunakan height auto untuk menyesuaikan dengan konten */
  }

  .ImgBannerHome1 {
    object-fit: cover;
    height: auto; /* Menggunakan height auto untuk menyesuaikan dengan konten */
  }

  .CaptionHomeText0 {
    font-size: 85%;
  }

  .CaptionHomeText1 {
    font-size: 90%;
  }

  .CaptionHomeText2 {
    font-size: 80%;
  }

  .CaptionHome0 {
    background: rgba(243, 243, 244, 0.5);
    width: 100%;
    padding: 2px;
    left: -3em;
    position: relative;
    border-radius: 1px;
    top: -8em;

    /* Menghilangkan left untuk menyesuaikan dengan layar */
  }

  .CaptionHome1 {
    background: rgba(243, 243, 244, 0.5);
    top: -6em;
    position: relative;
    padding: 2px;
    width: 110%;
  }

  .CaptionHome2 {
    width: 120%;
    left: -7em;
  }
}
