.HeroGalery {
  background-image: url("../../assets/images/AboutMe/Teams2.webp");
  height: 43em;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 750px) {
  .HeroGalery {
    height: 17em;
  }
}
