.HeroSulamEyeLiner {
  background-image: url("../../assets/images/Services/BannerSulamEyeliner.webp");
  height: 43em;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media (max-width: 750px) {
  .HeroSulamEyeLiner {
    height: 17em;
  }
}
