.SectionHome {
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
  text-align: center;
  padding: 1em;
}
.SectionHome .TitleLayanan {
  /* background: rgba(47, 47, 54, 0.5); */
  /* margin-top: 1em; */
  text-align: center;
  color: #030101;
  /* font-family: "Schibsted Grotesk", serif; */
  font-style: normal;
  margin: auto;
}
.TitleLayanan h2 {
  font-family: "Schibsted Grotesk", serif;
}
.ColSectionHome {
  margin: auto;
}

.SectionServiceHome h4 {
  font-size: 1.5em;
  text-shadow: 1px 1px 3px rgba(176, 176, 210, 0.5);
  color: #cb2b2e;
}

.SectionServiceHome {
  margin-top: 2em;
  background-color: #fff;
}
.ColServiceDescHome {
  padding: 1em;
  text-align: justify;
}
.ImgSulamAlis1Home,
.ImgSulamEyelinerHome,
.ImgSulamBibirHome,
.ImgLaserRemovalHome {
  width: 100%;
  border-radius: 5px;
}

.imgIcon {
  width: 30px;
  margin: 3px;
}

@media (max-width: 750px) {
  .SectionHome .TitleLayanan {
    width: 72%;
  }
  .imgIcon {
    width: 20px;
  }
  .ImgSulamAlis1Home,
  .ImgSulamEyelinerHome,
  .ImgSulamBibirHome,
  .ImgLaserRemovalHome {
    width: 100%;
    height: 20em;
    border-radius: 5px;
  }
}
