html body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.1em;
}

.BrandLogo {
  width: 12.5em;
}
.NavigationBar {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  background-color: #fff;
}

.menu {
  font-family: "Schibsted Grotesk", serif;
  font-size: 1.2em;
  margin: 0.5em;
  /* text-shadow: 1px 1px 3px rgba(164, 164, 234, 0.5); */
  color: #030101;
}
.DropdownSpan {
  /* text-shadow: 1px 1px 3px rgba(126, 126, 206, 0.5); */
  color: #030101;
  font-family: "Schibsted Grotesk", serif;
}

@media (max-width: 750px) {
  .navbar-collapse {
    background-color: #fff;
    margin: 1em;
  }
  .navbar a {
    text-align: center;
    width: 50%;
    margin: auto;
    transform: translateY(50px);
    filter: blur(50px);
    opacity: 0;
    animation: showNavbarLink 0.5s 0.1s linear 1 forwards;
  }
  @keyframes showNavbarLink {
    to {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  .dropdown-menu {
    background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
    width: 100%;
    border: none;
  }
  .dropdown-menu a {
    font-size: 1.2em;
  }

  .DropdownSpan {
    font-size: 1.6vh;
  }
  * {
    font-size: 1.4vh;
  }
  table {
    font-size: 1.5em;
  }
  .BrandLogo {
    width: 14.5em;
  }

  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.2;
  }
}
