.ContentLaserRemoval {
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
  margin: 1em;
  padding-top: 3em;
}

.ContentLaserRemoval h4 {
  text-align: center;
  font-family: "Schibsted Grotesk", serif;
  padding: 0.2em;
  margin: auto;
  width: 50%;
}

.ContentLaserRemoval p {
  text-align: center;
}

.ColDescLaserRemoval {
  background-color: #fff;
}
.ColDescLaserRemoval p {
  text-align: justify;
  padding-top: 8px;
}
.RowImgLaserRemoval {
  display: flex;
}

.ContentLaserRemoval .RowDescLaserRemoval {
  margin-top: 2em;
}

.ImagesLaserRemoval {
  width: 48%;
  flex: 1;
  margin: 2px;
  object-fit: cover;
  height: 22em;
}
.RowCaption {
  display: flex;
  position: relative;
  top: -81.4%;
}
.Caption {
  align-items: baseline;
  position: relative;
  align-items: start;
  margin: auto;
  width: 110px;
  flex: 1;
  color: #fff;
  letter-spacing: 2px;
}
.Caption p {
  font-family: "Schibsted Grotesk", serif;
  padding: 1em;
  width: 8em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 750px) {
  .ColImgLaserRemoval {
    width: 100%;
    margin-top: 2em;
  }
  .ContentLaserRemoval h4 {
    width: 80%;
    font-size: 1.5em;
  }

  .RowImgLaserRemoval {
    margin: auto;
  }
  .ImagesLaserRemoval {
    width: 50%;
    height: 15em;
  }
}
