.HeroAboutMe {
  background-image: url("../../assets/images/AboutMe/Teams1.webp");
  height: 45em;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media (max-width: 750px) {
  .HeroAboutMe {
    height: 20em;
  }
}
