html body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.1em;
}

.BrandLogo {
  width: 12.5em;
}
.NavigationBar {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  background-color: rgb(242 242 242 /1);
}

.menu {
  font-family: sans !important;
  font-size: 1.4em;
  margin: 0.5em;
  color: #000000;
}
.DropdownSpan {
  color: #000000;
  font-family: sans !important;
}

@media (max-width: 750px) {
  .navbar-collapse {
    background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
    text-align: justify;
  }

  .navbar a {
    text-align: center;
    padding: 2px;
    transform: translateY(50px);
    filter: blur(50px);
    opacity: 0;
    animation: showNavbarLink 0.5s 0.1s linear 1 forwards;
  }
  @keyframes showNavbarLink {
    to {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  .dropdown-menu {
    background-image: #fff;
    border: none;
  }
  .dropdown-menu a {
    font-size: 1.3em;

    margin: auto;
  }

  .DropdownSpan {
    /* border: 1px solid; */
    font-size: 1.1em;
  }
  * {
    font-size: 1.4vh;
  }
  table {
    font-size: 1.5em;
  }
  .BrandLogo {
    width: 14.5em;
  }

  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.2;
  }
}
