.HeroLaserRemoval {
  background-image: url("../../assets/images/Services/BannerSulamRemoval.webp");
  height: 43em;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 750px) {
  .HeroLaserRemoval {
    height: 17em;
  }
}
