.ContentSulamEyeliner {
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
  margin: 1em;
  padding-top: 1em;
}

.ContentSulamEyeliner h4 {
  text-align: center;
  font-family: "Schibsted Grotesk", serif;
  margin: auto;
  width: 50%;
}

.ContentSulamEyeliner p {
  text-align: center;
}
.RowDescSulamEyeliner {
  background-color: #fff;
  /* width: 100%; */
}
.ColDescSulamEyeliner p {
  text-align: justify;
}
.ContentSulamEyeliner .RowDescSulamEyeliner {
  margin-top: 2em;
}
.ColImgSulamEyeliner {
  width: 50%;
  padding: 1em;
}
.RowImgSulamEyeliner {
  width: 100%;
  display: flex;
}

.ImagesSulamEyeliner {
  width: 48%;
  flex: 1;
  margin: 2px;
  object-fit: cover;
}

.ColDescSulamEyeliner .ProcedureSulamEyeliner {
  width: 8em;
  padding: 7px;
  text-align: justify;
  font-size: 1.5em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Schibsted Grotesk", serif;
}

.RowCaptionSulamEyeliner {
  display: flex;
  position: relative;
  top: -81.1%;
}
.RowCaptionSulamEyeliner .CaptionSulamEyeliner {
  align-items: baseline;
  position: relative;
  align-items: start;
  margin: auto;
  width: 110px;
  flex: 1;
  color: #fff;
  letter-spacing: 2px;
}
.CaptionSulamEyeliner p {
  font-family: "Schibsted Grotesk", serif;
  padding: 1em;
  margin-left: 1.2px;
  width: 8em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 750px) {
  .ColImgSulamEyeliner {
    width: fit-content;
  }
  .ContentSulamEyeliner h4 {
    width: 90%;
    font-size: 1.5em;
  }

  .ImagesSulamEyeliner {
    width: 48%;
    flex: 1;
    margin: 2px;
    object-fit: cover;
  }

  .RowCaptionSulamEyeliner {
    display: flex;
    position: relative;
    top: -78%;
  }
  .CaptionSulamEyeliner p {
    padding: 0.5em;
    margin-left: 1px;
    width: 6em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .RowCaptionSulamEyeliner .ProcedureSulamEyeliner {
    font-size: 1em;
  }
}
