.ContentSulamAlis {
  padding-top: 3em;
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
  margin: 1em;
}
.ContentSulamAlis h4 {
  text-align: center;
  font-family: "Schibsted Grotesk", serif;
  padding: 0.2em;
  margin: auto;
  width: 100%;
}
.ContentSulamAlis .DescContentSulamAlis {
  padding: 0.2em;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 1em;
}
.RowDescContentSulamAlis {
  width: fit-content;
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
}
.ColDescContentSulamAlis {
  background-color: #fff;
  width: 50%;
}

.RowDescContentSulamAlis .ColDescContentSulamAlis p {
  text-align: justify;
  margin-top: 1em;
}
.RowDescContentSulamAlis .ColDescContentSulamAlis .ProcedureSulamAlis {
  width: 9em;
  padding: 7px;
  text-align: center;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.RowImagesSulamAlis .ImgSulamAlis1Content0 {
  width: 100%;
  height: 32em;
  margin-top: 1em;
  object-fit: cover;
}
.RowImagesSulamAlis .ImgSulamAlis1Content1,
.ImgSulamAlis1Content2 {
  width: 100%;
  height: 15.5em;
  object-fit: cover;
  margin-top: 1em;
}

.RowModelSulamAlis h5 {
  font-family: "Schibsted Grotesk", serif;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
}
.RowModelSulamAlis .Model0,
.Model1,
.Model2,
.Model3 {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

@media (max-width: 750px) {
  .RowImagesSulamAlis .ImgSulamAlis1Content0 {
    width: 100%;
    height: 19em;
  }
  .RowImagesSulamAlis .ImgSulamAlis1Content1,
  .ImgSulamAlis1Content2 {
    object-fit: cover;
    width: 100%;
    height: 9em;
  }
  .ColDescContentSulamAlis {
    width: 100%;
  }
  .RowImagesSulamAlis .ColImagesSulamAlis {
    width: 50%;
  }

  .RowModelSulamAlis .ColModelSulamAlis {
    width: 50%;
  }

  .ContentSulamAlis h4 {
    width: 70%;
    font-size: 1.5em;
  }
  .ContentSulamAlis .DescContentSulamAlis {
    width: 99%;
  }
  .RowModelSulamAlis .Model0,
  .Model1,
  .Model2,
  .Model3 {
    width: 100%;
    height: 12em;
    object-fit: cover;
    margin-top: 10px;
  }
  .ColDescContentSulamAlis .ProcedureSulamAlis {
    font-size: 1.3em;
  }
}
