.ContentSulamBibir {
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
  margin: 1em;
  padding-top: 3em;
}

.ContentSulamBibir h4 {
  text-align: center;
  font-family: "Schibsted Grotesk", serif;
  padding: 0.2em;
  margin: auto;
  width: 50%;
}

.ContentSulamBibir p {
  text-align: center;
}

.ColDescSulamBibir {
  background-color: #fff;
}
.ColDescSulamBibir p {
  text-align: start;
}
.RowImgSulamBibir {
  display: flex;
}
.ColDescSulamBibir .ProcedureSulamBibir {
  width: 9em;
  padding: 7px;
  text-align: center;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.ContentSulamBibir .RowDescSulamBibir {
  margin-top: 2em;
}

.ImagesSulamBibir {
  width: 48%;
  flex: 1;
  margin: 2px;
  object-fit: cover;
  height: 22em;
}
.RowCaptionSulamBibir {
  display: flex;
  position: relative;
  top: -81.4%;
  margin-left: 2px;
}
.CaptionSulamBibir {
  align-items: baseline;
  position: relative;
  align-items: start;
  margin: auto;
  width: 110px;
  flex: 1;
  color: #fff;
  letter-spacing: 2px;
}
.CaptionSulamBibir p {
  font-family: "Schibsted Grotesk", serif;
  padding: 1em;
  width: 8em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 750px) {
  .ColImgSulamBibir {
    width: 100%;
    margin-top: 2em;
  }
  .ContentSulamBibir h4 {
    width: 80%;
    font-size: 1.5em;
  }

  .RowImgSulamBibir {
    /* margin: auto; */
    padding: 1em;
  }
  .ImagesSulamBibir {
    width: 100%;
    height: 17em;
  }
  .RowCaptionSulamBibir {
    display: flex;
    position: relative;
    top: -79%;
  }
  .CaptionSulamBibir p {
    padding: 0.5em;
    margin-left: 1px;
    width: 6em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .ColDescSulamBibir .ProcedureSulamBibir {
    font-size: 1em;
  }
}
