.HeroAcademy {
  /* background-image: url("../../assets/images/BannerAcademy.webp"); */
  height: 43em;
  background-size: cover;
  background-repeat: no-repeat;
}
.TitleHeroAcademy {
  background: rgba(47, 47, 54, 0.5);
  position: relative;
  top: 35%;
  width: 30%;
  left: -2.2em;
  color: #fff;
  transform: skew(20deg);
  filter: blur(50px);
  opacity: 0;
  animation: showTextHero 0.5s 0.5s linear 1 forwards;
}
.TitleHeroAcademy h2 {
  font-family: "Schibsted Grotesk", serif;
  margin: auto;
  width: 50%;
  color: #fff;
  padding: 0.2em;
  font-style: normal;
  transform: skew(-20deg);
}
.DescHeroAcademy {
  font-family: "Merriweather", serif;
  background: rgba(47, 47, 54, 0.5);
  position: relative;
  left: -5%;
  top: 40%;
  width: 50%;
  color: #fff;
  transform: skew(20deg);
  filter: blur(50px);
  opacity: 0;
  animation: showTextHero 0.5s 0.9s linear 1 forwards;
}
.DescHeroAcademy p {
  margin: auto;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.4em;
  color: #fff;
  font-style: normal;
  transform: skew(-20deg);
}
@media (max-width: 750px) {
  .HeroAcademy {
    height: 17em;
  }
  .HeroAcademy .TitleHeroAcademy {
    width: 50%;
    font-size: 1.5em;
    text-align: center;
  }
  .HeroAcademy .TitleHeroAcademy h2 {
    width: 100%;
    font-size: 1em;
  }

  .HeroAcademy .DescHeroAcademy {
    text-align: center;
    width: 90%;
  }
  .HeroAcademy .DescHeroAcademy h5 {
    text-align: center;
    width: 100%;
    font-size: 1em;
  }
}
