.ContentSulamEyeliner {
  background-image: linear-gradient(hsl(206, 30%, 95%), #fff);
  margin: 1em;
  padding-top: 1em;
}

.ContentSulamEyeliner h4 {
  text-align: center;
  font-family: "Schibsted Grotesk", serif;
  padding: 0.2em;
  margin: auto;
  width: 50%;
}

.ContentSulamEyeliner p {
  text-align: center;
}
.RowDescSulamEyeliner {
  background-color: #fff;
  width: 100%;
}
.ColDescSulamEyeliner p {
  text-align: justify;
  margin: 1em;
}
.ContentSulamEyeliner .RowDescSulamEyeliner {
  margin-top: 2em;
}
.ColImgSulamEyeliner {
  width: 50%;
  padding: 1em;
}
.RowImgSulamEyeliner {
  width: 100%;

  display: flex;
}

.ImagesSulamEyeliner {
  width: 48%;
  flex: 1;
  margin: 2px;
  object-fit: cover;
}
.ColImgSulamEyeliner .Caption {
  font-family: "Schibsted Grotesk", serif;
  position: relative;
  width: 110px;
  height: 60px;
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  top: -70%;
  color: #fff;
  letter-spacing: 2px;
}
.Procedure {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: "Schibsted Grotesk", serif;
  padding: 0.8em;
  top: 20%;
  position: relative;
  text-align: center;
  margin: auto;
  width: 40%;
}

@media (max-width: 750px) {
  .ColImgSulamEyeliner {
    width: fit-content;
    /* margin-top: 2em; */
  }
  .ContentSulamEyeliner h4 {
    width: 90%;
    font-size: 1.5em;
  }

  .ImagesSulamEyeliner {
    width: 48%;
    flex: 1;
    margin: 2px;
    object-fit: cover;
  }
  .ColImgSulamEyeliner .Caption {
    position: relative;
    width: 70px;
    height: 40px;
    text-align: center;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    top: -15.5em;
    color: #fff;
    letter-spacing: 2px;
  }
}
